<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome completo</th>
            <th scope="col">CPF/CNPJ</th>
            <th scope="col">RG/IE</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let item of data; let i = index" >
            <th scope="row">{{i + 1}}</th>
            <td>{{item.name}}</td>
            
            <td>{{ item.cpfcnpj.length == 11 ? (item.cpfcnpj | mask: '000.000.000-00') : (item.cpfcnpj | mask: '00.000.000/0000-00') }}</td>
            <td>{{ item.rgie.length == 8 ? (item.rgie | mask: '00000000') : (item.rgie | mask: '000000000000')}}</td>
            <td>
                <a href="#" class="ml-3 mr-0" data-toggle="modal" data-target="#blockclient" (click)="_onHandlerFilterPhones(item)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                <a href="#" class="ml-3 mr-0" [routerLink]="['/clientes/editar/', item.id]" title="Edit" data-toggle="tooltip"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="#" class="ml-3 mr-0" [routerLink]="['/clientes/delete/' , item.id]" title="Delete" data-toggle="tooltip"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="blockclient" tabindex="-1" role="dialog" aria-labelledby="modeallabel" aria-hidden="true" *ngIf="client">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modeallabel">Detalhes do cliente ({{client.name}})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Nome: <strong>{{client.name}}</strong></p> 
                <p>{{ (client.cpfcnpj.length == 11 ? 'CPF' : 'CNPJ')}}: <strong>{{ client.cpfcnpj.length == 11 ? (client.cpfcnpj | mask: '000.000.000-00') : (client.cpfcnpj | mask: '00.000.000/0000-00') }}</strong></p>
                <p> {{ (client.rgie.length == 8 ? 'RG' : 'EI')}}: <strong>{{  client.rgie.length == 8 ? (client.rgie | mask: '00000000') : (client.rgie | mask: '000000000000') }}</strong></p>
                <p>Data de cadastro: <strong>{{client.createdAt | amDateFormat: 'DD/MM/YYYY' }}</strong></p>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of clientsPhones; let i = index">{{i+1}}° Telefone: {{item.areacode | mask: '(00)'}} {{item.phone  | mask: '0 0000-0000'}} <span *ngIf="item.ismain"><strong>(Principal)</strong></span></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>