<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome completo</th>
            <th scope="col">CPF/CNPJ</th>
            <th scope="col">RG/IE</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let item of data; let i = index" >
            <th scope="row">{{i + 1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.cpfcnpj}}</td>
            <td>{{item.rgie}}</td>
            <td>
                <button class="btn btn-secondary">visualizar</button> | 
                <button class="btn btn-secondary">editar</button> | 
                <button class="btn btn-secondary">excluir</button>
            </td>
        </tr>
    </tbody>
</table>
