<div class="container">
    <div class="row mt-4">
        <div class="col">
        <h4>Meus clientes</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique pariatur, vitae officia dignissimos
            distinctio sequi omnis, dolorum, expedita at officiis suscipit harum. Pariatur suscipit maxime doloremque
            possimus beatae ratione odio!</p>
        </div>
    </div>
    <div class="row mr-auto">
        <div class="col">
            <app-shared-clients></app-shared-clients>
        </div>
    </div>
</div>