<div class="row">
    <div class="col-md-12 ">
        <h4 class="mb-3"></h4>
        <form [formGroup]="formClient"  (ngSubmit)="onSubmit()" class="needs-validation" novalidate="">

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="name">Nome completo</label>
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="nome completo" required="">
                </div>
            </div>

            <label for="">Conta:</label>
            <div class="d-block">
                <div class="custom-control custom-radio">
                    <input  id="fisica" type="radio" value="Fisica" name="type"  formControlName="type" class="custom-control-input" required="">
                    <label class="custom-control-label" for="credit">Pessoa Fisica</label>
                </div>
                <div class="custom-control custom-radio">
                    <input  id="juridica"  type="radio"  value="Juridica" name="type" formControlName="type"  class="custom-control-input" required="">
                    <label class="custom-control-label" for="debit">Pessoa Juridica</label>
                </div>
            </div>
            <hr class="mb-4">


            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="lastName">CPF/CNPJ</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="firstName">RG/IE</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="">Adicionar contato</label>
                    <div class="btn-group btn-block  btn-group-toggle mb-3" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input (click)="addContact()" type="radio" name="options" id="option1" autocomplete="off"
                                checked> +
                        </label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-8 mt-3" *ngFor="let item of contatcs; let i = index">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="lastName">(DDD)</label>
                            <div class="input-group">

                                <input type="text" class="form-control" aria-label="Text input with checkbox">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="lastName">Telefone {{i + 1}}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="ismani"
                                            aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with checkbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mb-4">


            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">Está ficará ativa ?</label>
            </div>

            <button class="btn btn-primary btn-lg btn-block mt-4" [disabled]="!formClient.valid" type="submit">Finalizar</button>
        </form>
    </div>
</div>